/*******************************
            Layout
*******************************/

/*******************************
            Theme
*******************************/

@type : 'collection';
@element : 'menu';

@import (multiple) '../../theme.config';

/*--------------
    Layout
---------------*/

.inloco-layout {
  display: flex;
  background-color: @gray50;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  width: 100vw;
}

/*--------------
    Layout Sidebar
---------------*/

@sidebarHeaderHeight: 64px;
@sidebarHeaderBottomMargin: 20px;

.inloco-layout__sidebar.ui.vertical.menu {
  border-right: 1px solid fade(@n600, 7%);
  border-radius: 0;
  box-shadow: 2px 0 3px -2px fade(@n600, 5%);
  display: flex;
  grid-area: sidebar;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 1001;

  &.expanded {
    width: 255px;
  }

  .item.header {
    margin-bottom: @sidebarHeaderBottomMargin;
    opacity: 1;
    padding: 16px 8px;

    i.icon {
      align-items: center;
      border-radius: 16px;
      cursor: pointer;
      display: flex;
      height: 32px;
      margin: 0 4px 0 8px;
      width: 32px;

      &:hover {
        background-color: fade(@n600, 4%);
      }
    }
  }

  .ui.divider {
    margin: 16px 0;
  }

  .ui.stuck-container {
    min-height: @sidebarHeaderHeight + @sidebarHeaderBottomMargin;
  }
}

.inloco-layout__sidebar-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: auto;

  .item {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.inloco-layout__sidebar-footer {
  display: flex;
  flex: 1 0 48px;
  flex-direction: column;
  justify-content: flex-end;
}

.inloco-layout__sidebar.ui.vertical.menu {
  .inloco-layout__sidebar-footer {
    .inloco-layout__sidebar-submenu-accordion.item {
      flex-direction: column-reverse;
      padding: 0;
      margin: 12px 0;

      &:hover {
        background-color: transparent;

        .title {
          background-color: fade(@n600, 4%);
        }
      }

      .title {
        i.icon:last-child::before {
          content: '\E316';
        }
      }

      .menu.content {
        margin: 0 0 12px;
      }
    }
  }

  .inloco-layout__sidebar-submenu-dropdown {
    position: static;

    &.upward {
      .menu {
        top: auto !important;
      }
    }
  }
}

/*--------------
    Layout Topbar
---------------*/

.inloco-layout__topbar.ui.menu {
  align-items: center;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 3px -2px fade(@n600, 5%);
  flex-shrink: 0;
  grid-area: topbar;
  height: 64px;
  margin: 0 0 0 64px;
  order: 0;

  .menu.right {
    .ui.item.dropdown {
      margin-right: 12px;
      padding: 8px 4px 8px 12px;
    }
  }
}

.inloco-layout__topbar-logo {
  display: flex;
  margin-left: 30px;
}

/*--------------
    Layout Top Warning
---------------*/

@topWarningHeight: 32px;

.inloco-layout__top-warning {
  height: @topWarningHeight;
  margin-left: 65px;
  min-height: @topWarningHeight;
  order: 1;

  .ui.sticky {
    background-color: @gray00;
  }
}

.inloco-layout.withWarning .inloco-layout__main {
  margin-top: 0;
}

.inloco-layout__top-warning-message.ui.message {
  display: flex;
  height: @topWarningHeight;
  justify-content: center;
  padding: 0;
  width: 100% !important;

  .content {
    align-items: center;
    display: flex;

    .header {
      margin: 0 8px 0 0;
    }
  }
}

/*--------------
    Layout Main
---------------*/

@headerHeight: 64px;
@headerBottomMargin: 20px;

.inloco-layout__main {
  margin-top: 12px;
  grid-area: main;
  order: 2;

  .ui.fixed.sticky {
    background-color: @gray50;
  }

  .ui.stuck-container {
    height: @headerHeight + @headerBottomMargin;
  }
}

.inloco-layout__main-content {
  margin: 0 32px 0 96px;
}

/*--------------
    Layout Main Header
---------------*/

.inloco-layout__header {
  display: grid;
  height: @headerHeight;
  justify-content: space-between;
  margin: 0 0 @headerBottomMargin;
  padding: 8px 32px 8px 96px;
  position: relative;

  .ui.breadcrumb {
    align-items: center;
    display: flex;
    grid-column: 1;
    grid-row: 1;
    margin-left: -6px;

    i.icon {
      color: @gray600;
      margin-left: -4px;
    }

    .section {
      align-items: center;
      display: flex;
      font-size: 12px;
      height: 20px;
      padding: 2px 6px;

      &:hover {
        background-color: fade(@n600, 8%);
        border-radius: 3px;
      }

      &:first-child {
        &::before {
          color: @gray600;
          content: '\E5CB';
          font-family: 'Icons';
          font-size: 16px;
          margin-left: -4px;
        }
      }
    }
  }

  .ui.breadcrumb + .inloco-layout__header-title {
    grid-row-start: 2;
    line-height: 24px;
  }
}

.inloco-layout__header-title {
  color: @gray800;
  font-size: 24px;
  font-weight: 300;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  letter-spacing: 0.3px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inloco-layout__header-controls {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  > :not(:first-child) {
    margin-left: 16px;
  }
}

/*--------------
    Layout No Sidebar
---------------*/

.inloco-layout.noSidebar {
  .inloco-layout__sidebar.ui.vertical.menu {
    display: none;
  }

  .inloco-layout__topbar {
    margin-left: 0;
  }

  .inloco-layout__main-content {
    margin-left: 32px;
  }

  .inloco-layout__header {
    padding-left: 32px;

    .ui.breadcrumb {
      left: 32px;
    }
  }
}
